body{
    font-family: arial, helvetica, sans-serif;
}

a:link, a:visited{
 color: rgb(31, 33, 117);
 text-decoration: none;
}
a:hover{
text-decoration: underline;
}

#wrap{
    width: 960px;
    margin: auto;
    padding: 10px 20px;
}

#form{
    background: rgb(255, 223, 82);
}
header nav ul{
    list-style: none;
    padding-left: 0;
}
header nav ul li{
    display: inline-block;
    margin-right: 10px;
}
header nav ul lia{

    font-size: 18px; 
}

#content{
    float: left;
    width: 660px;
}

footer{
    margin-top: 25%;
    background: #ffa53d;
    clear: both;
}
label, input[type=submit], input[type=text], textarea {
    display: block;
}

input[type="submit"]{
    background: #333333;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 20px;
    border: 0;
    
}